* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,rgb(25, 0, 255, 0.8), rgb(141, 128, 255), rgba(185, 177, 255, 0.5));
}

.fixed_cart {
    display: block;
    padding: 15px;
    font-size: 2em;
    position: fixed;
    right: 50px;
    bottom: 100px;
    background-color: yellow;
    border-radius: 50%;
    z-index: 1;
}

.fixed_mess {
    display: block;
    padding: 15px;
    font-size: 2em;
    position: fixed;
    right: 50px;
    bottom: 25px;
    background-color: #233a90;
    border-radius: 50%;
    z-index: 1;
    color: white;
}

.fixed_contact {
    display: block;
    padding: 17px;
    font-size: 2em;
    position: fixed;
    right: 50px;
    bottom: 175px;
    background-color: #198754;
    border-radius: 50%;
    z-index: 1;
}

.menu {
    position: fixed;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    align-content: center;
    font-size: 3rem;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 0 25px 25px rgba(215, 185, 255, 0.8);
    z-index: 2;
}

#logo {
    height: 100px;
    position: absolute;
    top: 30px;
    left: 100px;
    border-radius: 35%;
}

.menu a {
    color: rgb(207, 207, 207);
    text-decoration: none;
    padding: 20px;
}

.menu a:hover {    
    color: black;
    background-color: rgba(210, 105, 198, 0.8);
    position: relative;
    font-size: larger;
    transform: scale(1.2);
    box-shadow: 0 0 1em 1em rgba(228, 148, 218, 0.8);  
}

a {
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}


#logo:hover {
    background-color: rgb(0, 0, 0);
    padding: 1em;
    border-radius: 30%;
    transform: scale3d(1.2,1.2,1.2);
    box-shadow: 0 0 1em 1em rgba(74, 39, 70, 0.8);  
}

.box2 {
    font-size: 25px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.section {
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    opacity: 0.8;
    background-color: aliceblue;
}

.section1 {
    margin-top: 200px;
}

.About {
    height: 400px;
    display: flex;
    justify-content: center;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.section1 img {
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 25px;
    animation: blink 3s infinite;
}

.task_bar {
    padding-left: 10px;
    position: fixed;
    left: 0;
    top: 150px;
    height: 100vh;
    width: 2vh; /* Chiều rộng nhỏ ban đầu */
    background: linear-gradient(to right, rgba(255, 0, 195, 0.5), rgba(255,185, 247, 0.2));
    transition: width 0.3s ease;
    overflow: auto;
    scrollbar-width: none;
}

.task_bar:hover {
    font-size: smaller;
    border-radius: 25px;
    z-index: 1;
    width: 30vh;
    scroll-behavior: smooth;
    height: calc(100vh - 150px);
}

.task_bar ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.task_bar ul li {
    color: white;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.task_bar ul li:hover {
    border-radius: 25px;
    font-size: 20px;
    background: #ff87fb;
    color: black;
    box-shadow: 1em 1em 1em 0  rgba(239, 201, 234, 0.8);  
}

#Menu_icon {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    font-size: 2em;
    font: 700;
}

.section2 h2 {
    text-transform: uppercase;
    line-height: 1.6;
}

.section2 {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 77, 108, 0.5), rgba(192, 245, 255, 0.2));
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    background-color: aqua;
    opacity: 0.8;
    margin: 0 auto;
    height: 100%;
    border-radius: 25px;
    margin-top: 20px;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.product {
    width: 400px;
    background: whitesmoke;
    padding: 30px;
    text-align: center;
    justify-content: center;
}

#text {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    transform: translateY(70px);
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease, height 0.5s ease;
}

#pic {
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
    transition: transform 0.5s ease, opacity 0.5s ease, height 0.5s ease;
}

.product:hover #text {
    transform: translateY(0px);
    opacity: 1;
    height: auto;
}

.product:hover #pic {
    transform: translateY(-10px) scale(1.1);
    opacity: 0.5;
    transition: transform 0.5s ease, opacity 0.5s ease, height 0.5s ease;
}

.container2 {
    display: block;
    background: antiquewhite;
    text-align: center;
    justify-content: center;
}

.imgLogo {
    margin: 20px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 177, 177);
    opacity: 0.2;
}

.imgLogo:hover {
    opacity: 1;
    transform: scale(1.2);
    box-shadow: 0 0 1em 1em rgb(255, 177, 177, 0.8);  
}

.foot {
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: center;
    line-height: 2;

}